<plugin name='groovyfx' version='0.2.1' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Dean Iverson</author>
  <authorEmail>deanriverson@gmail.com</authorEmail>
  <title>Griffon GroovyFX Plugin</title>
  <description>A plugin that provides use of the GroovyFX library from within a Griffon application.</description>
  <documentation>http://griffon.codehaus.org/Groovyfx+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>javafx</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>